<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Final de Programacion</h1>
    <h2>Profesor: Daniel Cazabat</h2>
    <h2>Alumno: Leonardo Couñago Arballo</h2>
    <h4>Consigna:</h4>
    <p>◼ Crear una API, con Fast-API o Flask que se conecte a una base de datos de SQLite (tfinal.db);
        <br>
        dicha API deberá contener todos los end-point que sean necesarios para la realización de los
        siguientes puntos.
        <br>
        ◼ Se deberá realizar vistas (HTML – CSS) con Flask.
        <br>
        ◦ Vista que valide el ingreso a la información (LOGIN) y su respectivo Sign-In (alta es auto
        gestionada, no hay usuario con privilegios de admin).
        <br>
        ◦ Vista que combine el contenido de 2 o más tablas, con filtro de información a mostrar.
        <br>
        ◦ CRUD de alguna de las Entidades principales</p>
</body>
</html>